@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

:root {
  /* Background Colors */
  --color-primary-bg-light: #FFF1E9;
  --color-secondary-bg-light: #F9DFD1;
  --color-secondary-bg-dark: #F2BBBB;
  
  /* Logo Colors */
  --color-logo-main: #912021;
  --color-logo-alt: #E9BEBE;
  
  /* Text Colors */
  --color-text-dark: #B06767;
  --color-text-light: #D19797;
  --color-text-accent: #F4B5A4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-dark);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

